* {
    font-family: 'Mukta', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./images/background.png')
    /* background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%); */

}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.header {
    background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%);
    width: 100vw;
    text-align: center;
    border-radius: 5px;
}
/* buttons */

.buttons {
    display: flex;
    justify-content: center;
    gap: 35px;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(226, 221, 255);
    margin: 25px;
    transition: background-color 0.2s, transform 0.2s;

}

button:hover {
    transform: scale(1.2);
    background: linear-gradient(98.3deg, rgb(61, 61, 61) 10.6%, rgb(255, 48, 48) 97.7%);
    color: white;
}

/* cards */

.cardarea {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 1) 0%, rgb(160, 199, 254) 74.6%);
    border: 2px solid lightblue;
    padding: 25px;
    width: 300px;
    margin: 15px;
}

.card button {
    background: lightyellow;
    padding: 5px 10px;
    width: 55px;
    height: 30px;
    margin: 5px;
}

.card .delete {
    background-image: url('./images/trash.png');
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.card .button-read {
    background-image: url('./images/book.png');
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.cardtitle {
    font-size: 20px;
    font-weight: bold;
}

.cardauthor {
    font-size: 17px;
}



/* modal */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    color: white;
    border: 5px solid lightgrey;
    padding: 30px;
    padding-top: 10px;
    border-radius: 10px;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    min-width: 20%;
}

.modal > h3 {
    text-align: center;
    padding: 10px
}

.active {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form button {
    margin: 0px 40px;
    margin-top: 10px;
}